{!-- ===========================================================================
  FILE: public/assets/ee/views/templates/default_site/blog.group/_listing.html
  TYPE: View-Model
  DEPENDENCIES: Stash, Grid
  DESCRIPTION: Blog listing template
============================================================================ --}
{!-- Let's trigger 404s ==================================================== --}
{if segment_3 != ""}
  {redirect="404"}
{/if}



{!-- Set the layout ======================================================== --}
{stash:embed:layouts:base}



{!-- Set variables ========================================================= --}
{exp:stash:set}
  {stash:seo_title}{exp:streeng title="yes"}{segment_1}{/exp:streeng}{/stash:seo_title}
{/exp:stash:set}



{!-- Models ================================================================ --}
{!-- Grab the Portfolio Items --}
{exp:stash:set_list
  name="blog"
  parse_tags="yes"
  parse_depth="2"
}

  {exp:channel:entries
    channel="ch_blog"
    status="open"
    disable="{gv_param_disable_default}"
    dynamic="no"
  }
    {!-- Moar abstractions --}
    {stash:embed:models:md_global_fields
      parse="no"
      process="start"
    }

    {!-- Grab the shared custom field group's fields --}
    {stash:embed:models:md_shared_fields
      parse="no"
      process="start"
    }

  {/exp:channel:entries}

{/exp:stash:set_list}


{!-- Views ================================================================= --}
{!-- Page Content: content-primary --}
{exp:stash:set name="content-primary"}

  {if {exp:stash:not_empty name="blog"}}
    {exp:stash:get_list
      name="blog"
      parse_tags="yes"
      parse_conditionals="yes"
      limit="3"
      paginate="bottom"
      prefix="list"
      compress="yes"
      process="end"
    }
      {if list:no_results}
        <p class="notice">Sorry, we can't display any Blog Posts.</p>
      {/if}

      {if list:count == 1}
        <ul>
      {/if}
          <li>
            {if list:title}
              <h2><a href="{path='blog/{list:url_title}'}">{list:title}</a></h2>
            {/if}

            <div clas="blog-meta">
              {if list:author}{list:author}{/if} | {if list:entry_date}{list:entry_date}{/if}
              <br>
              {if list:categories}{list:categories}{/if}
            </div>

            {if list:teaser}
              {list:teaser}
            {if:else}
              <p>{exp:streeng allowed="none" words="10"}{list:content}{/exp:streeng}</p>
            {/if}

            {if list:image}
              <img src="{list:image}" alt="{list:title}">
            {/if}
          </li>
      {if list:count == list:total_results}
        </ul>
      {/if}

      {list:paginate}
        {pagination_links}
        <ul>
          {first_page}
            <li><a href="{pagination_url}" class="page-first">First Page</a></li>
          {/first_page}

          {previous_page}
            <li><a href="{pagination_url}" class="page-previous">Previous Page</a></li>
          {/previous_page}

          {page}
            <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
          {/page}

          {next_page}
            <li><a href="{pagination_url}" class="page-next">Next Page</a></li>
          {/next_page}

          {last_page}
              <li><a href="{pagination_url}" class="page-last">Last Page</a></li>
          {/last_page}
        </ul>
        {/pagination_links}
    {/list:paginate}
    {/exp:stash:get_list}
  {/if}

{/exp:stash:set}


{!-- Page Content: content-secondary --}
{exp:stash:set name="content-secondary"}

{/exp:stash:set}


{!-- Page Content: content-featured --}
{exp:stash:set name="content-featured"}

{/exp:stash:set}