{!-- ===========================================================================
  FILE: public/assets/ee/views/stash/models/md_shared_fields.html
  TYPE: Stash Model
  DEPENDENCIES: Stash
  DESCRIPTION: Global fields used across channel entries
============================================================================ --}
{stash:categories}{categories backspace="2"}{category_name}, {/categories}{/stash:categories}
{stash:teaser}{cf_shared_teaser}{/stash:teaser}
{stash:image}{cf_shared_image}{/stash:image}
{stash:content}{cf_shared_body}{/stash:content}
