# IGNORE EXTENSIONS
*~
*.bak
*.diff
*.err
*.gem
*.js.orig
*.log
*.orig
*.rbc
*.rej
*.scssc
*.swo
*.swp
*.vi


# OS & VCS IGNORES
!.gitignore
!.gitkeep
._*
.cache
.DS_Store
.ftpquota
.idea
.project
.settings
.sass-cache
*.sublime-project
*.sublime-workspace
*.tmproj
nbproject
[Tt]humbs.db
Gemfile.lock


# PACKAGE MANAGER CRUFT
/node_modules
compile/vendor/*
!compile/vendor/.gitkeep


# IGNORE PROJECT-SPECIFIC FILES
/compile/sass


# EXPRESSIONENGINE
# public_html/.htaccess
# public_html/robots.txt
# public_html/humans.txt
# public_html/BingSiteAuth.xml
public/assets/ee/add-ons/*
!public/assets/ee/add-ons/.gitkeep
public/assets/ee/config/*
!public/assets/ee/config/config.env.php
!public/assets/ee/config/config.local.php.sample
!public/assets/ee/config/config.dev.php.sample
!public/assets/ee/config/config.stage.php.sample
!public/assets/ee/config/config.prod.php.sample
!public/assets/ee/config/config.master.extended.php
!public/assets/ee/config/config.master.php
!public/assets/ee/config/config.master.third.php
public/assets/ee/images/*
!public/assets/ee/images/.gitkeep
public/assets/ee/system/*
!public/assets/ee/system/.gitkeep
!public/assets/ee/views
public/themes/*


# CACHES
public/assets/ee/system/expressionengine/cache/*
!public/assets/ee/system/expressionengine/cache/.htaccess
!public/assets/ee/system/expressionengine/cache/index.html
public/cache/captchas/*
!public/cache/captchas/index.html
public/cache/ga/*
!public/cache/ga/index.html
public/cache/img/local/*
!public/cache/img/local/index.html
public/cache/img/remote/*
!public/cache/img/remote/index.html
public/cache/img/stash/*
!public/cache/stash/index.html


# LOGS
error_log
public/assets/ee/logs/*
!public/assets/ee/logs/.gitkeep
!public/assets/ee/codeigniter/system/logs/.gitkeep


# UGC
public/assets/uploads/*
!public/assets/uploads/index.html


# BACKUPS
backups/*
!backups/database/index.html
!backups/files/index.html
!backups/updater/.htaccess
!progress.data