{!-- ===========================================================================
  FILE: public/assets/ee/views/stash/partials/_global_footer.html
  TYPE: Template Partial
  DEPENDENCIES:
  DESCRIPTION: Global footer shared across the site
============================================================================ --}
    <footer class="page-footer" role="contentinfo">
      <p class="copyright">Copyright &copy; {current_time format="%Y"} {site_name}. All rights reserved.</p>

      {stash:embed:snippets:sn_navigation
        parse="no"
        process="start"
      }

      <a href="#top">^ Back to Top</a>
    </footer> <!-- /END .page-footer -->

    {!-- === Global JavaScript ============================================= --}
    <script></script>
  </body>
</html>