footer( class='page-footer', role='contentinfo' )
  div.copyright &copy; 2014 CLIENT
// /END .page-footer

//- === Footer Scripts =======================================================
//-
  script( src='/assets/js/main.js' )