{!-- ===========================================================================
  FILE: public/assets/ee/views/stash/layouts/base.html
  TYPE: Stash Layout
  DEPENDENCIES: Stash
  DESCRIPTION: Base site layout
============================================================================ --}
{stash:embed:partials:_global_header
  parse="no"
  process="start"
}
  <div class="page-wrapper">

    {if {exp:stash:not_empty name="content-primary"}}
      <main class="content-primary">
        {stash:content-primary}
      </main>
    {/if}

    {if {exp:stash:not_empty name="content-secondary"}}
      <section class="content-secondary">
        {stash:content-secondary}
      </section>
    {/if}

    {if {exp:stash:not_empty name="content-featured"}}
      <div class="content-featured">
        {stash:content-featured}
      </div>
    {/if}

  </div> <!-- /END .page-wrapper -->

{stash:embed:partials:_global_footer
  parse="no"
  process="start"
}