<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBoot – A frontend scaffold</title>
    <meta name="description" content="">
    <meta name="author" content="/humans.txt">
    <link rel="stylesheet" href="/assets/css/main.css"><!--[if IE]><![endif]-->
  </head>
  <body>
    <header role="banner" class="page-header">
      <h1 id="Logo">QuickBoot</h1>
      <h2 id="Tag-Line">A frontend Project Scaffold</h2>
    </header>
    <!-- /END .page-header-->
  </body>
</html>