{!-- ===========================================================================
  FILE: public/assets/ee/views/stash/snippets/sn_global_fields.html
  TYPE: Stash Model
  DEPENDENCIES: Stash
  DESCRIPTION: Global fields used across channel entries
============================================================================ --}
{stash:channel_name}{channel_name}{/stash:channel_name}
{stash:entry_id}{entry_id}{/stash:entry_id}
{stash:url_title}{url_title}{/stash:url_title}
{stash:title}{title}{/stash:title}