{!-- ===========================================================================
  FILE: public/assets/ee/views/stash/snippets/sn_navigation.html
  TYPE: Stash Snippet
  DEPENDENCIES: Stash
  DESCRIPTION: Global navigation items. This could be a list, NavEE/Structure tag, etc.
============================================================================ --}
<ul>
  <li><a href="{site_url}about">About</a></li>
  <li><a href="{site_url}services">Services</a></li>
  <li><a href="{site_url}work">Work</a></li>
  <li><a href="{site_url}blog">Blog</a></li>
</ul>